footer {
	background: Black;
	color: red;
	position: fixed;
	bottom: 0px;
	padding: 10px;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
}
	footer > div {
		background: Blue;
		display: inline-block;
		text-align: center;
		width: 25%;
		padding: 5px;
		margin: auto;
	}
.footer-grid{

}
.footer-item {

}
.footer a{

}
.footer a:hover{

}
