footer {
	background: Black;
	color: red;
	position: absolute;
	bottom: 0px;
	padding: 10px;
	width: 100%;
	align-content: center;
}
footer < div{
	border: 2px solid #4CAF50;
	display: block;
}
.footer-grid{

}
.footer-item {

}
.footer a{

}
.footer a:hover{

}
