.grid-top{
	text-decoration: none;
	padding-top: 60px;
	display: grid;
	grid-template-columns: 33% 34% 33%;
	grid-template-rows: 50% 50%;
	grid-template-areas:
		"topwomen topmen topkids"
		"topbrug topsko topandet"

}
.grid-top a{
	text-decoration: none;
}
.top-grid-item{	
	background: white;
	width: 90%;
	height: 375px;
	margin: 3% auto;
	border-radius: 20px;
	box-shadow: 0 0 10px black;
	position: relative;
}
.toptext{
	text-align: center;
	position: relative;
	top: 75%;
	background-color: black;
	color: #DED319;
	width: 200px;
	font-family: Verdana;
	margin: 5px auto;
	font-weight: bold;
	font-size: 20px;
	border: 2px solid #DED319;
}
.top-women{
	grid-area: topwomen;
	background-image: url(../pic/main-top/women.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.top-men{
	grid-area: topmen;
	background-image: url(../pic/main-top/men.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.top-kid{
	grid-area: topkids;
	background-image: url(../pic/main-top/kids.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.top-andet{
	grid-area: topandet;
	background-image: url(../pic/main-top/andet.jpeg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.top-brug{
	grid-area: topbrug;
	background-image: url(../pic/main-top/brugskunst.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.top-sko{
	grid-area: topsko;
	background-image: url(../pic/main-top/sko.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.top-grid-item:hover{
	box-shadow: 0 0 10px #DED319;
}
.toptext:hover{
	background-color: white;
	text-align: center;
	color: black;
	border: 2px solid black;
}