body {
	background: rgba(255, 247, 232, 0.00);
	font-family: Helvetica neue, Helvetica, Arial, sans-serif;
	/*background-image: url("../pic/background/outlet-tag.png");
	background-position: center;
	background-size: 192px;*/
}
.body{
	padding-bottom: 100px;
}
iframe[seamless] {
	border: none;
}
.main-grid{
	display: grid;
	/*grid-template-columns: 100% ;
	grid-template-rows:19% 19% 19% 19% 19% 19%;
	grid-template-areas:s
		"women"
		"men"
		"kids"
		"sko"
		"brugskunst"
		"andet"*/
}
.main-grid-item {
	color: black;
}