body {
	background: #888888;
	background-image: url("../pic/background/outlet-tag.png");
	background-position: center;
	background-size: 192px;
}
.grid-container{
	/*padding-top: 56px;*/
	display: grid;
	grid-template-columns: 100% ;
	grid-template-rows:19% 19% 19% 19% 19% 19%;
	grid-template-areas:
		"women"
		"men"
		"kids"
		"sko"
		"brugskunst"
		"andet"
}
.grid-item{
	color: black;
	/*border: 2px solid black;
	border-radius: 10%;
	margin: 5%;*/
}
.women{
	grid-area: women;
}
.men{
	grid-area: men;
}
.kids{
	grid-area: kids;
}
.sko{
	grid-area: sko;
}
.brugskunst{
	grid-area: brugskunst;
}
.andet{
	grid-area: andet;
}
h2{
	opacity: 100%;
	color: #DED319;
	text-align: center;
	font-family: Verdana;
	margin: 5px;
	margin-top: 50px;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	text-shadow: 0 0 5px black;
}
