.panel-row{
	padding-bottom: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	grid-row-gap: -50px;
	grid-template-areas:
		"header header header header"
		"pic1 pic2 pic3 pic4"
}
.header{
	grid-area: header;
	background: gray;
	border: 2px solid black;
	border-radius: 20px;
	width: 50%;
	margin: auto;
}
.pic1{
	grid-area: pic1;
}
.pic2{
	grid-area: pic2;
}
.pic3{
	grid-area: pic3;
}
.pic4{
	grid-area: pic4;
}

.panel{
	position: relative;
	background: white;
	display: inline-block;
	width: 250px;
	height: 400px;
	padding: 0;
	margin: 0 auto;
	border: 10px solid white;
	border-radius: 5px;
	box-shadow: 0 0 10px black;
}
.panel-pic{
	width: 100%;
	height: 400px;
}
.item-pic{
	width: 100%;
	/*position: relative;
	top: -100px;*/
}
.panel-shop{
	display: none;
}
.panel-body{
	display: block;
	position: absolute;
	margin: 0 10%;
	bottom: 0px;
	width: 80%;
	height: 2%
	padding-bottom: 10px;
	font-weight: bold;
}
.panel:hover{
	box-shadow: 0 0 15px #DED319; 
}
.panel:hover .panel-shop{
	display: inline-block;
}