.panel-body{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 5px;
	grid-template-areas:
		"item-text item-text"
		"new-price old-price"
		"member-price member-price"
}
.item-text{
	grid-area: item-text;
	text-align: center;
	color: black;
}
.new-price{
	grid-area: new-price;
	color: black;
}
.old-price{
	grid-area: old-price;
	text-decoration: line-through;
	color: #333333
}
.member-price{
	grid-area: member-price;
	color: orange;
}
.price{
	text-align: center;
}